<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :vaihe %><br>
    <%= f.text_area :vaihe %>
  </p>
  <p>
	Lis채채 kuva:<br>
	<% file_field_tag "ebin" %>
	<%= f.file_field :image %>
  </p>
  <p>
    <%= f.submit "Lis채채 vaihe" %>
  </p>
<% end %>